<section class="skills-container" id="skills">
    <div class="row justify-content-center">
        <h6 class="text-center">Skills</h6>
        <h2 class="text-center mb-3">Technologies <span class="gradient-text">I work</span> with</h2>
        <p class="text-center mb-5">A comprehensive toolkit built over 5+ years of frontend development</p>
        <div class="col-sm-6">
            <div class="glass-card p-4">
                <div class="d-flex flex-column gap-4">
                    <div>
                       <span class="small text-muted-custom"><strong>Frontend Framework & Libraries - </strong>Angular, Angular Material, ngx-bootstrap, AGGrid, PrimeNG, NG Bootstrap</span>
                        <div class="progress-custom">
                            <div class="progress-bar-custom h-100" style="width: 90%;"></div>
                        </div>
                    </div>
                    <div>
                        <span class="small text-muted-custom"><strong>Core Technologies - </strong>TypeScript, JavaScript, HTML5</span>
                        <div class="progress-custom">
                            <div class="progress-bar-custom h-100" style="width: 85%;"></div>
                        </div>
                    </div>
                    <div>
                        <span class="small text-muted-custom"><strong>Styling & Design - </strong>CSS3 / SCSS, Bootstrap, Tailwind CSS</span>
                        <div class="progress-custom">
                            <div class="progress-bar-custom h-100" style="width: 95%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="glass-card p-4">
                <div class="d-flex flex-column gap-4">
                    <div>
                        <span class="small text-muted-custom"><strong>UI/UX Design - </strong>Figma, Wireframe</span>
                        <div class="progress-custom">
                            <div class="progress-bar-custom h-100" style="width: 70%;"></div>
                        </div>
                    </div>
                    <div>
                        <span class="small text-muted-custom"><strong>State Management - </strong>RxJS, NgRx</span>
                        <div class="progress-custom">
                            <div class="progress-bar-custom h-100" style="width: 60%;"></div>
                        </div>
                    </div>
                    <div>
                       <span class="small text-muted-custom"><strong>Tools & Libraries - </strong>Git / GitHub, REST APIs</span>
                        <div class="progress-custom">
                            <div class="progress-bar-custom h-100" style="width: 90%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>