<section class="experience-container" id="experience">
    <div class="row justify-content-center">
        <h6 class="text-center">Experience</h6>
        <h2 class="text-center mb-3">My <span class="gradient-text">professional</span> journey</h2>
        <p class="text-center mb-5">Building my expertise through diverse projects and challenges</p>
    </div>
    <div class="timeline">
    <!-- Item 1 -->
    <div class="timeline-item left">
      <div class="timeline-dot">
        <span><i class="bi bi-briefcase"></i></span>
      </div>
      <div class="glass-card">
        <h6 class="date">2024 - Present</h6>
        <h3>UI Engineer</h3>
        <a href="https://www.benchmarkit.solutions/" target="_blank">Benchmark IT Solutions</a>
        <p>
          Leading frontend architecture decisions and mentoring junior developers.
          Building scalable Angular applications with modern best practices.
        </p>
        <div class="tags">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>RxJS</span>
          <span>NgRx</span>
          <span>SCSS</span>
        </div>
      </div>
    </div>
    <!-- Item 2 -->
    <div class="timeline-item right">
      <div class="timeline-dot">
        <span><i class="bi bi-briefcase"></i></span>
      </div>
      <div class="glass-card">
        <h6 class="date">2023 - 2024</h6>
        <h3>Frontend Developer</h3>
        <a href="https://sidhyatitech.com/" target="_blank">Sidhyati Technology solutions Pvt Ltd</a>
        <p>
          Leading frontend architecture decisions and mentoring junior developers.
          Building scalable Angular applications with modern best practices.
        </p>
        <div class="tags">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>RxJS</span>
          <span>NgRx</span>
          <span>SCSS</span>
        </div>
      </div>
    </div>
    <!-- Item 1 -->
    <div class="timeline-item left">
      <div class="timeline-dot">
        <span><i class="bi bi-briefcase"></i></span>
      </div>
      <div class="glass-card">
        <h6 class="date">2020 - 2023</h6>
        <h3>UI Developer</h3>
        <a href="https://globemindstechnologies.com//" target="_blank">Globeminds Technologies Pvt Ltd</a>
        <p>
          Leading frontend architecture decisions and mentoring junior developers.
          Building scalable Angular applications with modern best practices.
        </p>
        <div class="tags">
          <span>Angular</span>
          <span>TypeScript</span>
          <span>RxJS</span>
          <span>NgRx</span>
          <span>SCSS</span>
        </div>
      </div>
    </div>
  </div>
</section>