.gradient-text{
    font-size: 20px;
}
.navbar-toggler{
    color: #fff;
    border: none;
    box-shadow:none;
    padding: 0;
}
 .navbar-toggler-icon{
    color: #fff;
    background-image:none;
    width: auto;
    height: auto;
    padding: 5px;
}
.nav-link.active {
    color: var(--primary-text-color) !important;
}