<nav class="navbar navbar-expand-lg  fixed-top">
  <div class="container px-2">
    <a class="gradient-text" href="#">VM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'about'" aria-current="page" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'skills'" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'experience'" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'projects'" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'contact'" href="#contact">Contact</a>
        </li>
        <li class="nav-item d-none">
          <a class="nav-link theme-item" href="javascript:void(0)" (click)="toggleTheme()">
            <i class="bi bi-brightness-high" [class.d-none]="!themeService.isDarkTheme"></i>
            <i class="bi bi-moon" [class.d-none]="themeService.isDarkTheme"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>