<div class="main-layout">
  <div class="bg-background">
    <app-header></app-header>
    <div class="container px-2">
      <main>
        <app-hero></app-hero>
        <app-about></app-about>
        <app-skills></app-skills>
        <app-experiences></app-experiences>
        <app-projects></app-projects>
        <app-contact></app-contact>
      </main>
    </div>
  </div>
</div>
<!-- TOAST -->
<div
  class="toast"
  *ngIf="toast.message()"
  [class.success]="toast.type() === 'success'"
  [class.error]="toast.type() === 'error'">

  {{ toast.message() }}
</div>