
// .contact-btn {
//   padding: 0.75rem 1.75rem;
//   border-radius: 12px;
// }
// .service-content::after {
//     position: absolute;
//     content: "";
//     width: 100%;
//     height: 0;
//     top: 0;
//     left: 0;
//     bottom: auto;
//     background: var(--bs-primary);
//     border-radius: 8px;
//     transition: 1s;
// }
// .service-item:hover .service-content::after {
//     height: 100%;
//     opacity: 1;
// }
// .service-item {
//     position: relative;
//     height: 100%;
//     border-radius: 8px;
//     box-shadow: 0 0 45px rgba(0, 0, 0, .08);
// }
// .service-item .service-content-icon {
//     position: relative;
//     z-index: 2;
// }


// <div class="bg-light rounded service-item">
//         <div class="service-content d-flex align-items-center justify-content-center p-4">
//           <div class="service-content-icon text-center">
//             <i class="fas fa-wheelchair fa-7x text-primary mb-4"></i>
//             <h4 class="mb-3">Sit-down Catering</h4>
//             <p class="mb-4">Contrary to popular belief, ipsum is not simply random.</p>
//             <a href="#" class="btn btn-primary px-4 py-2 rounded-pill">Read More</a>
//           </div>
//         </div>
//       </div>


