<section class="about-container section-wrap" id="about">
    <div class="row align-items-center justify-content-center">
        <div class="col-sm-8 col-md-5">
            <h6 class="text-center d-lg-none">About Me</h6>
            <div class="position-relative">
                <div class="glass-card p-4 p-sm-5 position-relative">
                    <div class="avatar-box"></div>
                    <div class="flex items-center justify-center gap-4 pt-4">
                        <a href="/cv/Vikram_m_cv.pdf" download="Vikram_m_cv.pdf"
                            class="btn btn-sm btn-primary py-2 px-3 me-4">
                            <i class="bi bi-download me-1"></i> Download CV</a>
                        <a href="#contact" class="btn btn-sm btn-outline py-2 px-3">Get in Touch</a>
                    </div>
                </div>
                <div class="position-absolute top-back-card"></div>
                <div class="position-absolute bottom-back-card"></div>
            </div>
        </div>
        <div class="col-md-7 mt-5 mt-lg-0">
            <div class="about-wrapper ps-3 ps-lg-5">
                <h6 class="d-none d-lg-flex">About Me</h6>
                <h2 class="mb-3">Passionate about creating <br><span class="gradient-text">exceptional</span> user
                    experiences</h2>
                <p class="mb-3">I'm a Frontend / UI Developer with 5+ years of experience building fast, accessible, and
                    scalable web applications using modern frontend technologies. I’ve worked in both fast-paced startup
                    environments and large enterprise teams, adapting easily to different workflows and project needs
                    while turning Figma designs into clean, production-ready UI.</p>
                <p class="mb-3">I specialize in component-based architecture, pixel-perfect UI implementation, and
                    performance optimization. I focus on writing clean, maintainable code that scales as products grow,
                    ensuring interfaces remain reliable, responsive, and easy to use.</p>
                <p class="mb-3">Outside of work, I enjoy photography, bike rides on new trails, and exploring new UI
                    ideas that push creative boundaries.</p>
            </div>
        </div>
    </div>
</section>