<section class="about-container" id="about">
<div class="row align-items-center">
    <div class="col-lg-5">
        <div class="position-relative">
            <div class="glass-card p-5 position-relative">
                <div class="avatar-box"></div>
                <div class="flex items-center justify-center gap-4 pt-4">
                    <a href="/cv/Vikram_m_cv.pdf" download="Vikram_m_cv.pdf" class="btn btn-sm btn-primary py-2 px-3 me-4">
                        <i class="bi bi-download me-1"></i> Download CV</a>
                    <a href="#contact" class="btn btn-sm btn-outline py-2 px-3">Get in Touch</a>
                </div>
            </div>
            <div class="position-absolute top-back-card"></div>
            <div class="position-absolute bottom-back-card"></div>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="about-wrapper ps-5">
            <h6>About Me</h6>
            <h2 class="mb-3">Passionate about creating <br><span class="gradient-text">exceptional</span> user experiences</h2>
            <p class="mb-3">I’m a Frontend / UI Developer with 5+ years of experience building performant, accessible, and scalable web applications using modern frontend technologies. I’ve worked across startups and enterprise environments, translating complex requirements and Figma designs into clean, production-ready UI.</p>
            <p class="mb-3">My expertise lies in component-driven architecture, performance optimization, and pixel-perfect UI implementation. I focus on writing maintainable code that not only looks great but also scales well as products grow. I believe great UI should feel effortless — guiding users naturally toward their goals while staying fast, accessible, and reliable.</p>
            <p class="mb-3">Outside of work, I enjoy photography, bike rides on new trails, and experimenting with UI concepts that push creative boundaries.</p>
        </div>
    </div>
</div>
</section>