.glass-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none !important;
}

.avatar-box{
    width: 120px; 
    height: 120px; 
   background-image: url('/images/vikram-self.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
    border-radius: 50%;
}
.top-back-card{
    top: -1rem; 
    right: -1rem; 
    width: 80px; 
    height: 80px; 
    z-index: 1;
}
.bottom-back-card{
    bottom: -1rem; 
    left: -1rem; 
    width: 100px; 
    height: 100px; 
    background:rgba(8, 145, 178, .3); 
    z-index: 1;
    border-radius: 8px;
}
.btn-outline{
    border-color: #22d3ee40;
}
// responsive css

@media screen and (max-width:768px) {
    h2, h2 span{
       font-size: 30px;
    }
}
@media screen and (max-width:576px) {
    h2, h2 span{
       font-size: 24px;
    }
    .top-back-card, .bottom-back-card{
        display: none;
    }
}