
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


/* Dark theme */
html.dark-theme {
  --primary: #9fb3d9;
  --primary-text-color: #3be7ff;
  --primary-bg-color: 222 47% 6%;
  --secondary-bg-color: #10192d80;
  --text-color: #ffffff;
}

/* Light theme */
html.light-theme {
  --primary: #7588a3;
  --primary-text-color: #0798ab;
  --primary-bg-color: 45 40% 98%;
  --secondary-bg-color: #e6edf480;
  --text-color: #000000;
}


html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
h1{
    font-size: 96px !important;
}
.bg-background{
    background-color: hsl(var(--primary-bg-color));
    padding: 10px 10px 40px;
}
.gradient-text {
    background-image: linear-gradient(to right,hsl(187 92% 52%) , hsl(262,83%,58%));
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 1.5rem;
}
.navbar-nav {
    gap: 24px;
}
.nav-link{
    color: var(--primary) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.nav-link:hover{
    color: var(--primary-text-color) !important;
}
.nav-item .theme-item {
    border: 1px solid #20283c80;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: var(--secondary-bg-color)

}
.nav-item .theme-item:hover{
border-color: var( --primary-text-color);
}
.opportunities-badge{
    color: var(--primary-text-color);
    font-weight: 500;
    background-color: #14dbf51a;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 14px;
}